/* Section 1 */

/* Section 2 */

.sec2 {
  /*   background-color: rgb(200, 249, 215); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2 h2 {
  color: #f6a44e;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 2%;
}

.sec2 #text_claim {
  /*   width: 45%;
  text-align: center;
  vertical-align: middle; */
  color: #837870;
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 2%;
}

.sec2 #threecards {
  background-color: rgb(246, 156, 45);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 7%;
  margin-bottom: 2%;
}

.sec2 #threecards .small_card {
  /*   display: flex;
  flex-direction: column; */
  /*   margin: 0px 10px; */
}

.sec2 #threecards .small_card .card_img {
  width: auto;
}

.sec2 #threecards .small_card .card_text {
  min-height: 100px;
  max-width: 180px;
  background-color: #837870;
  color: white;
  /*   display: flex;
  flex-direction: column;
  justify-content: center; */
}

.sec2 button {
  width: 200px;
  color: rgb(255, 255, 255);
  background-color: #837870;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 5px;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2%;
}

/* Section 3 */

/* Section 4 */

/* Section 5 */

/* Section 6 */

/* Section 7 */

/* Section 8 */
